{% macro render_children(children) -%}
{%- for child in children -%}
{{ render(child) }}
{%- endfor -%}
{%- endmacro %}

{% macro render_paragraph(node) -%}
<p>{{ render_children(node.children) }}</p>
{%- endmacro %}

{% macro render_strong(node) -%}
<b>{{ render_children(node.children) }}</b>
{%- endmacro %}

{% macro render_text(node) -%}
{{ node.value }}
{%- endmacro %}

{% macro render_block(node) -%}
{{ render_children(node.children) }}
{%- endmacro %}

{% macro render(node) -%}
{%- if node.type == "root" -%}
{{ render_root(node) }}
{%- elif node.type == "paragraph" -%}
{{ render_paragraph(node) }}
{%- elif node.type == "block" -%}
{{ render_block(node) }}
{%- elif node.type == "strong" -%}
{{ render_strong(node) }}
{%- elif node.type == "text" -%}
{{ render_text(node) }}
{%- endif -%}
{%- endmacro %}

{{ render_children(children) }}
