{% from "renderers.j2.html" import render %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.frontmatter.title }}</title>
    {%- block head %}
    <link rel="icon" href="{{ "/favicon.ico" | make_relative }}" />
    <link rel="stylesheet" type="text/css" href="{{ "/build/css/style.css" | make_relative }}"/>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"
    ></script>
    {%- endblock %}
  </head>

  <body>
    {% block header %}
    <header class="fog-header">
      <nav>
        <div class="fog-header-branding">
            <div>Made with MyST</div>
            {% if config.options and config.options.logo %}
            <img class="fog-header-logo" src="{{ "/static/%s" | format(config.options.logo) | make_relative }}" />
            {% endif %}
        </div>
      </nav>
    </header>
    {% endblock %}
    <div class="fog-main-container">
        {% block primary_sidebar %}
        <div class="fog-primary-sidebar"></div>
        {% endblock %}
        {% block content %}
        <main class="fog-main-content">
          <h1>{{ page.frontmatter.title }}</h1>
          {% if page.frontmatter.subtitle %}
          <p>{{ page.frontmatter.subtitle }}</p>
          {% endif %}
          <article>{{ render(page.mdast) }}</article>
        </main>
        {% endblock %} 
        {% block secondary_sidebar %}
        <div class="fog-secondary-sidebar"></div>
        {% endblock %}
    </div>
    {% block footer %}
    <footer></footer>
    {% endblock %}
  </body>
</html>
