{% from "renderers.j2.html" import render %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ frontmatter.title }}</title>
    {%- block head %}
    <link rel="stylesheet" type="text/css" href="build/css/style.css" />
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"
    ></script>
    {%- endblock %}
  </head>

  <body>
    {% block header %}
    <header>
      <nav>
        <ul>
          <li>
            <a href="https://numfocus.org/donate"> Donate to NumFocus </a>
          </li>
        </ul>
      </nav>
    </header>
    {% endblock %} {% block content %}
    <main>
      <h1>{{ frontmatter.title }}</h1>
      <article>{{ render(mdast) }}</article>
    </main>
    {% endblock %} 
    {% block footer %}
    <footer></footer>
    {% endblock %}
  </body>
</html>
