{% macro render_children(children) -%}
{%- for child in children %}
{{ render(child) }}
{% endfor -%}
{%- endmacro %}

{% macro render_inline_children(children) -%}
{% for child in children -%}
{{ render(child) }}
{%- endfor %}
{%- endmacro %}

{% macro render_admonition(node) -%}
<aside class="myst-{{ node.type }} admonition admonition-{{ node.kind }}{{ node.class }}">
{{ render_children(node.children) }}
</aside>
{%- endmacro %}

{% macro render_admonition_title(node) -%}
<div class="myst-{{ node.type }} {{ node.class }}">
{{ render_children(node.children) }}
</div>
{%- endmacro %}

{% macro render_paragraph(node) -%}
<p class="myst-{{ node.type }} {{ node.class }}">{{ render_inline_children(node.children) }}</p>
{%- endmacro %}

{% macro render_link(node) -%}
<a class="myst-{{ node.type }} {{ node.class }}" href="{{ node.url }}">{{ render_inline_children(node.children) }}</a>
{%- endmacro %}

{% macro render_strong(node) -%}
<b class="myst-{{ node.type }} {{ node.class }}">{{ render_inline_children(node.children) }}</b>
{%- endmacro %}

{% macro render_emphasis(node) -%}
<em class="myst-{{ node.type }} {{ node.class }}">{{ render_inline_children(node.children) }}</em>
{%- endmacro %}

{% macro render_text(node) -%}
{{ node.value }}
{%- endmacro %}

{% macro render_root(node) -%}
{{ render_children(node.children) }}
{%- endmacro %}

{% macro render_block(node) -%}
<section class="myst-{{ node.type }} {{ node.class }}"> 
{{ render_children(node.children) }}
</section>
{%- endmacro %}

{% macro render_image(node) -%}
{%- if node.url.endswith("mp4") -%}
<video class="myst-{{ node.type }} {{ node.class }}" src="{{ node.url }}" autoplay="" muted="" webkit-playsinline="true" playsinline="" loop=""></video>
{%- else -%}
<img class="myst-{{ node.type }} {{ node.class }}" src="{{node.url}}"></img>
{%- endif -%}
{%- endmacro %}

{% macro render_span(node) -%}
<span class="myst-{{ node.type }} {{ node.class }}">{{ render_inline_children(node.children) }}</span>
{%- endmacro %}

{% macro render_div(node) -%}
<div class="myst-{{ node.type }} {{ node.class }}">
{{ render_children(node.children) }}
</div>
{%- endmacro %}

{% macro render_table(node) -%}
<table class="myst-{{ node.type }} {{ node.class }}">
{{ render_children(node.children) }}
</table>
{%- endmacro %}

{% macro render_table_row(node) -%}
<tr class="myst-{{ node.type }} {{ node.class }}">
{{ render_children(node.children) }}
</tr>
{%- endmacro %}

{% macro render_table_cell(node) -%}
<td class="myst-{{ node.type }} {{ node.class }}">
{{ render_children(node.children) }}
</td>
{%- endmacro %}

{% macro render_comment(node) -%}
<!-- {{ node.value }} -->
{%- endmacro %}

{% macro render_details(node) -%}
<details class="myst-{{ node.type }} {{ node.class }}">
{{ render_children(node.children) }}
</details>
{%- endmacro %}

{% macro render_container(node) -%}
<figure class="myst-{{ node.type }} {{ node.class }} container-{{ node.kind }}">
{{ render_children(node.children) }}
</figure>
{%- endmacro %}

{% macro render_caption(node) -%}
<figcaption class="myst-{{ node.type }} {{ node.class }}" >
{{ render_children(node.children) }}
</figcaption>
{%- endmacro %}

{% macro render_caption_number(node) -%}
<a class="myst-{{ node.type }} {{ node.class }}" id="{{ node.html_id or node.identifier or node.key }}" >{{ render_inline_children(node.children) }}</a>
{%- endmacro %}

{% macro render_cross_reference(node) -%}
{{ render_inline_children(node.children) }}
{%- endmacro %}

{% macro render_code(node) -%}
<pre class="myst-{{ node.type }} {{ node.class }}">
{{ node.value }}
</pre>
{%- endmacro %}

{% macro render_inline_code(node) -%}
<code class="myst-{{ node.type }} {{ node.class }}">{{ node.value }}</code>
{%- endmacro %}

{% macro render_embed(node) -%}
{{ render_children(node.children)  }}
{%- endmacro %}

{% macro render_summary(node) -%}
<summary class="myst-{{ node.type }} {{ node.class }}">{{ render_inline_children(node.children) }}</summary>
{%- endmacro %}

{% macro render_math(node) -%}
<div class="myst-{{ node.type }} {{ node.class }}">{{ node.value }}</div>
{%- endmacro %}

{% macro render_inline_math(node) -%}
<span class="myst-{{ node.type }} {{ node.class }}">{{ node.value }}</span>
{%- endmacro %}

{% macro render_thematic_break(node) -%}
<hr />
{%- endmacro %}

{% macro render_heading(node) -%}
<h{{ node.depth }}>{{ render_inline_children(node.children) }}</h{{node.depth}}>
{%- endmacro %}

{% macro render_abbreviation(node) -%}
<abbr title="{{ node.title }}">{{ render_inline_children(node.children) }}</abbr>
{%- endmacro %}

{% macro render(node) -%}
{%- if node.type == "root" -%}
{{ render_root(node) }}
{%- elif node.type == "paragraph" -%}
{{ render_paragraph(node) }}
{%- elif node.type == "block" -%}
{{ render_block(node) }}
{%- elif node.type == "emphasis" -%}
{{ render_emphasis(node) }}
{%- elif node.type == "image" -%}
{{ render_image(node) }}
{%- elif node.type == "strong" -%}
{{ render_strong(node) }}
{%- elif node.type == "link" -%}
{{ render_link(node) }}
{%- elif node.type == "text" -%}
{{ render_text(node) }}
{%- elif node.type == "details" -%}
{{ render_details(node) }}
{%- elif node.type == "summary" -%}
{{ render_summary(node) }}
{%- elif node.type == "code" -%}
{{ render_code(node) }}
{%- elif node.type == "inlineCode" -%}
{{ render_inline_code(node) }}
{%- elif node.type == "div" -%}
{{ render_div(node) }}
{%- elif node.type == "span" -%}
{{ render_span(node) }}
{%- elif node.type == "container" -%}
{{ render_container(node) }}
{%- elif node.type == "admonition" -%}
{{ render_admonition(node) }}
{%- elif node.type == "caption" -%}
{{ render_caption(node) }}
{%- elif node.type == "captionNumber" -%}
{{ render_caption_number(node) }}
{%- elif node.type == "embed" -%}
{{ render_embed(node) }}
{%- elif node.type == "crossReference" -%}
{{ render_cross_reference(node) }}
{%- elif node.type == "thematicBreak" -%}
{{ render_thematic_break(node) }}
{%- elif node.type == "heading" -%}
{{ render_heading(node) }}
{%- elif node.type == "abbreviation" -%}
{{ render_abbreviation(node) }}
{%- elif node.type == "math" -%}
{{ render_math(node) }}
{%- elif node.type == "inlineMath" -%}
{{ render_inline_math(node) }}
{%- elif node.type == "table" -%}
{{ render_table(node) }}
{%- elif node.type == "tableRow" -%}
{{ render_table_row(node) }}
{%- elif node.type == "tableCell" -%}
{{ render_table_cell(node) }}
{%- elif node.type == "admonitionTitle" -%}
{{ render_admonition_title(node) }}
{%- elif node.type == "comment" -%}
{{ render_comment(node) }}
{%- else -%}
Unknown node '{{ node.type  }}'
{%- endif -%}
{%- endmacro %}
